html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{
  display: block;
}

body{
  line-height: 1;
}

ol, ul{
  list-style: none;
}

blockquote, q{
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after{
  content: '';
  content: none;
}

table{
  border-collapse: collapse;
  border-spacing: 0;
}

a{
  text-decoration: none;
  outline: 0;
}


/* apply a natural box layout model to all elements */
*, *:before, *:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html{
  font-family: sans-serif;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  border: 0px none;
  height: 3px;
  cursor: pointer;
  background: #0ca0ef;
  border-radius: 1.3px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: #0ca0ef;
  border-radius: 1.3px;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border-radius: 2.6px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #0ca0ef;
}
input[type=range]::-ms-fill-upper {
  background: #0ca0ef;
  border-radius: 2.6px;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}
input[type=range]::-webkit-slider-thumb{
  margin-top: -6px;
}

.clear{
  clear: both;
}

.hidden {
  display: none
}

.miniNavBar{
  float: left;
  background: #134eb3;
  width: 60px;
  height: 100vh;
  box-shadow: inset -5px 0 10px -2px #333;
  padding-top: 15px;
}
.miniNavBar ul {
  padding-left: 0px;
}
  .miniNavBar ul li {
    padding: 15px;
    text-align: center;
  }
  .miniNavBar ul li:nth-child(1){
    padding-bottom: 40px;
  }
  .miniNavBar ul li:not(:first-child) a{
    opacity: 0.42;
  }
  .miniNavBar ul li:not(:first-child) a:hover{
    opacity: 1;
  }
  .miniNavBar ul li a .small-img{
    width: 26px;
  }
  .miniNavBar ul li a .small-img.logo{
    width: 28px;
  }
  .profile {
    position: absolute;
    bottom: 10px;
  }
  .profile a{
    margin-left: 20px;
  }
  .profile a img{
    width: 30px;
  }

.navbar{
  background: #134eb3;
  width: 271px;
  float: left;
  border-left: 1px solid #3064bc;
  box-shadow: inset -5px 0 10px -2px #333;
  display: block;
  height: 100vh;
  margin-bottom: 0px;
}
  .navbar h3{
    font-size: 20px;
    line-height: 52px;
    padding: 20px;
    color: white;
    margin: 0;
  }
  .navbar .menu{
    list-style: none;
    padding: 0 20px;
  }
  .navbar .menu li {
    list-style-type: none;
  }
  .navbar .menu li a{
    text-decoration: none;
    font-size: 16px;
    color: #FFF;
    line-height: 1.8;
  }
  .navbar .menu li.active > a{
    opacity: 0.6;
  }
  .navbar .menu li a:hover
  {
    opacity: 0.6;
  }
  .navbar .menu .active .submenu {
    display: block;
  }
  .navbar .menu .submenu{
    padding-left: 20px;
    list-style: none;
    display: none;
  }
  .navbar .menu .submenu li{
    list-style-type: none;
  }
  .navbar .menu .submenu li a{
    font-size: 16px;
    color: #FFF;
    text-decoration: none;
  }
  li.hasSubMenu > a{
    display: block;
    width: 100%;
  }
  li.hasSubMenu > a span{
    float: right;
  }

.homeContainer{
  width: 100%;
  padding-left: 377px;
}
.homeContent{
  padding: 40px;
  height: 100vh;
  background: #f9f9f9;
}
.homeContent h1{
  font-size: 30px;
}
.homeView{
  background: #FFF;
  margin: 20px 0;
  width: 100%;
  height: calc(100vh - 120px);
  border: 1px solid #e6e6e6;
  border-radius: 3px;
}


/* User Search Page */
.userContainer{
  padding-right: 20px;
  height: 100vh;
  overflow-y: scroll;
  float: right;
  width: calc(100vw - 90px);
}
.header h1{
  margin-top: 20px;
  font-size: 20px;
  margin-bottom: 12px;
  color: #000;
}
.userMainContent {
  width: 100%;
}
.searchDetails{
  width: 180px;
  padding-top: 10px;
  float: left;
  height: 100vh;
}
.searchDetails input[type="text"]{
  border: 1px solid #CCC;
  border-radius: 6px
}
.searchDetails a{
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 6px;
  display: block;
  width: 100%;
  color: #000000;
  letter-spacing: 0.11px;
}
.searchDetails span{
  font-size: 12px;
}
.searchDetails hr{
  margin: 10px 0;
  width: 100%;
  height: 1px;
  background: #d8d8d8;
}
.searchDetails a span{
  float: right;
}
.profileSource{
  margin-bottom: 8px;
}
.searchDetails .form-group {
  margin-top: 6px;
  margin-bottom: 0px;
}
.searchDetails select{
  font-size: 10px;
}
.searchDetails .form-group .col-md-6{
  padding: 0px;
}
.searchDetails .form-group .col-md-6:first-child{
  padding-right: 5px;
}
.searchDetails .form-group .col-md-6:nth-child(2){
  padding-left: 5px;
}
.searchDetails .checkbox,
.searchDetails .radio{
  margin: 0;
}
.searchDetails .form-group label{
  color: #000;
}
.searchDetails .form-group label, 
.searchDetails .form-group input[type="radio"],
.searchDetails .form-group input[type="checkbox"]{
  font-size: 12px;
  color: #000000;
  letter-spacing: 0.43px;
  line-height: 1.4px;
  min-height: auto;
}
.searchDetails .form-group input[type="radio"],
.searchDetails .form-group input[type="checkbox"]{
  position: relative;
  top: -1px;
  margin-right: 10px;
  margin-left: -18px;
}
.small-font{
  font-size: 80%;
  opacity: 0.4;
}
.searchLocation{
  margin-bottom: 8px;
}
.searchLocation input{
  padding: 6px;
  border: none;
  margin-right: 16px;
  font-size: 17px;
}
.searchDetails .input-group{
  position: relative;
  width: 100%;
}
.searchDetails .input-group input{
  padding: 2px;
  padding-left: 22px;
  font-size: 10px;
  width: 100%;
  border-radius: 6px !important;
  height: 25px;
}
.searchDetails .input-group span{
  position: absolute;
  left: 8px;
  top: 7px;
  color: #AAA;
  z-index: 10
}
.searchDetails .input-group.end input{
  padding-left: 10px;
  padding-right: 22px;
}
.searchDetails .input-group.end span{
  left: auto;
  right: 8px;
}
.searchAttributes{
  margin-bottom: 8px;
}
.form-group h3{
  font-size: 14px;
  margin-bottom: 6px;
  letter-spacing: 0.1px;
  color: #454f4e;
  /* Channel: */
}
.searchDemographic{
  margin-bottom: 8px;
}
.searchDetails .slider{
  width: 100%;
  padding-top: 20px;
  position: relative;
}
.searchDetails .slider input{
  width: 100%;
}
.searchDetails .slider span{
  position: absolute;
  top: 0px;
  display: block;
  opacity: 1;
  color: #8E9695;
  letter-spacing: 0.09px;
}
.searchDetails .slider span.first{
  left: 0px;
}
.searchDetails .slider span.last{
  right: 0px;
}
.searchDetails .form-group select{
  /*width: 100%;*/
}
.searchDemographic .form-group select{
  width: 100%;
}
.searchPurchase{
  margin-bottom: 8px;
}
.purchaseStartEnd{
  height: 40px;
}
.searchContent{
  width: calc(100% - 200px);
  padding-left: 20px;
  z-index: -1;
  float: right;
}
.paginationContainer{
  max-width: 320px;
  margin: 0 auto;
}
.paginationContainer li>a{
  margin-left: 3px;
  border: 0px none;
  font-size: 12px;
  color: #000000;
  letter-spacing: 0.43px;
  text-align: center;
}
.paginationContainer li.prev>a,
.paginationContainer li.next>a{
  border: 1px solid #CECECE;
  border-radius: 4px;
}
.paginationContainer .pagination{
  margin: 15px 0;
} 
.paginationContainer .pagination>li>a{
  color: #000;
}
.searchActionButton{
  height: 40px;
  width: 340px;
  right: 0px;
  top: -35px;
  float: right;
  position: relative;
}
.searchActionButton .col-md-6{
  padding: 0px;
}
.searchActionButton .btn-add{
  padding: 6px 10px;
  background: #0CA0EF;
  color: #FFF;
  font-size: 12px;
  border: 1px solid #0CA0EF;
  text-align: center;
  width: 141px;
  height: 32px;
  border-radius: 4px;
  letter-spacing: 0.43px;
  text-align: center;
}
.searchActionButton .btn-create{
  padding: 6px 10px;
  color: #0CA0EF;
  background: #FFF;
  font-size: 12px; 
  border: 1px solid #20A2EC;
  text-align: center;
  width: 141px;
  height: 32px;
  border-radius: 4px;
  letter-spacing: 0.43px;
  text-align: center;
}
.searchActionButton .btn-create span{
  padding-left: 10px;
}
.searchForm{
  width: 100%;
  padding-top: 0px;
}
.searchForm .searchLocationContent input{
  width: 259px;
  height: 32px;
  padding: 2px;
  padding-left: 22px;
  font-size: 10px;
  border-radius: 4px !important;
  opacity: 0.5;
  border: 1px solid #A1A1A1;
  border-radius: 4px;
}
.searchForm .searchLocationContent span{
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
  color: #AAA;
  font-size: 12px;
}

.searchList{
  width: 100%;
  margin: 20px 0;
}
.searchList table{
  width: 100%;
  color: #454F4E;
  font-size: 13px;
  text-align: left;
  border: 1px solid #E6E6E6;
  box-shadow: inset 0 -1px 0 0 #E1E1E1;
  border-radius: 4px;
}
.searchList table th{
  text-align: center;
}
.searchList table th{
  
}
.searchList table th, 
.searchList table td{
  padding: 10px;
  border-bottom:1pt solid #454f4e;
}
.searchList table td:first-child{
  text-align: left;
}
.searchList table td:not(:first-child){
  text-align: right;
}
.searchList table td.icons{
  text-align: center;
}
.searchList table td.icons span:first-child{
  margin-left: 10px;
}
.searchList table a{
  color: #454f4e;
}